@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.reset-container:before {
    content: "";
    position: fixed;
    height: 100%;
    width: 2000px;
    top: -30%;
    right: 55%;
    transform: translateY(-20%);
    background-image: linear-gradient(-30deg, #695CFE 0%, #695CFE 100%);
    transition: .5s ease-in-out;
    border-radius: 50%;
    z-index: -2;
}

.reset-container:after {
    content: "";
    position: fixed;
    height: 100%;
    width: 2000px;
    bottom: -30%;
    left: 55%;
    transform: translateY(20%);
    background-image: linear-gradient(-30deg, #695CFE 0%, #695CFE 100%);
    transition: .5s ease-in-out;
    border-radius: 50%;
    z-index: -2;
}

.reset-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: 400px;
    width: 100%;
    padding: 70px 30px 44px;
}

.reset-input i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.reset-title{
    font-size: 2.2rem;
    margin: 0;
    color: #444;
}

.reset-form{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #acacac;
}

.reset-input{
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.reset-input input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    font-family: inherit;
    color: #333;
}

.reset-input input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.reset-form p {
    font-size: 1rem;
    color: black;
}

.reset-form a{
    color: #5995fd;
    text-align: left;
    text-decoration: none;
    margin-bottom: 6px;
    transition: all 0.375s;
    font-style: italic;
}

.reset-form a:hover{
    color: #4481eb;
}

.reset-form button{
    width: 150px;
    background-color: #695CFE;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    font-family: inherit;
    letter-spacing: 2px;
}

.reset-form button:hover{
    background: #4d84e2; 
}

@media (max-width: 570px){
    body{
        padding: 0;
    }

    .reset-container:before {
        transform: translate(100%, -20%);
    }

    .reset-container:after {
        transform: translate(-100%, 20%);
    }
    
    .reset-form button{
        background-color: #04befe;
    }

    .reset-form a{
        color: #04befe;
    }

    .reset-card{
        margin: 0;
    }
}